<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'registration'%}">sell my car</a>
<h1>carslist</h1>
<table>
    {{ form.errors}}
    {% for item in users %}

    model:    {{ item.car_model }}<br><br>
    fueltype  {{ item.fuel_type}}
    Transmission type    {{ item.transmission_type }}<br><br>
    price {{ item.price }}<br><br>
    milage:    {{ item.mil }}<br><br>
    current city:    {{ item.current_city }}<br><br>
    {% for img in image%}
        {% if img.cars.id == item.id %}
        image:</b><img src="{{img.image.url}}">
        {%endif%}
        {%endfor%}
    </tr>
    <tr>
    <td colspan="2" class="divider"><hr/></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>